{% extends "layouts/base.html" %} {% block title %} Profile {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="container mt-4">
  <h2 class="mb-4" name="titulo">Cadastro de Viagem</h2>

  <!-- Tabs Navigation -->
  <ul class="nav nav-tabs bg-20" id="viagemTabs" role="tablist">
    <li class="nav-item bg" role="presentation">
      <button
        class="nav-link active"
        id="dados-tab"
        data-bs-toggle="tab"
        data-bs-target="#dados"
        type="button"
        role="tab"
        aria-controls="dados"
        aria-selected="true"
      >
        <i class="bi bi-card-checklist"></i> Dados Principais
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tecnicoUser-tab"
        data-bs-toggle="tab"
        data-bs-target="#tecnicos"
        type="button"
        role="tab"
        aria-controls="tecnicoUser"
        aria-selected="false"
      >
        <i class="bi bi-cash-stack"></i> Técnicos
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="outros-tab"
        data-bs-toggle="tab"
        data-bs-target="#outros"
        type="button"
        role="tab"
        aria-controls="outros"
        aria-selected="false"
      >
        <i class="bi bi-gear"></i> Outros
      </button>
    </li>
  </ul>

  <!-- Tabs Content -->
  <div
    class="tab-content bg-white p-3 border border-top-0 rounded-bottom"
    id="viagemTabsContent"
  >
    <!-- Aba 1: Dados Principais -->
    <div
      class="tab-pane fade show active"
      id="dados"
      role="tabpanel"
      aria-labelledby="dados-tab"
    >
      <form id="formDadosPrincipais" action>
        <input type="hidden" id="viagemId" name="viagemId" value="" />
        <input
          type="hidden"
          id="usuario"
          name="usuario"
          value="{{ session['usuarioConnect'] }}"
        />

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="entidade" class="form-label">Entidade *</label>
            <input
              type="text"
              class="form-control border ps-1"
              id="entidade"
              name="entidade"
              required
            />
            <input type="hidden" id="entidade-id" name="entidade_id" required />
          </div>

          <div class="col-md-3">
            <label for="dataSaida" class="form-label">Data de Saída *</label>
            <input
              type="datetime-local"
              class="form-control border ps-1"
              id="dataSaida"
              name="dataSaida"
              value="{% if date_start %}{{ date_start }}{% endif %}"
              required
            />
          </div>

          <div class="col-md-2 d-flex align-items-end">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="checkEnviaEmail"
                checked
              />
              <label class="form-check-label" for="checkEnviaEmail">
                Enviar e-Mail
              </label>
            </div>
          </div>
        </div>

        <!--Tipo da Viagem-->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="tipoViagem" class="form-label">Tipo da Viagem</label>
            <select class="form-select" id="tipoViagem" name="tipoViagem">
              <option value="Técnica">Técnica</option>
              <option value="Administrativa">Administrativa</option>
              <option value="Capacitação">Capacitação</option>
              <option value="Outra">Outra</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="localViagem" class="form-label">Local</label>
            <select class="form-select" id="localViagem" name="localViagem">
              <option value="Quality">Quality</option>
              <option value="Cliente">Cliente</option>
            </select>
          </div>
        </div>

        <!--Descrição-->
        <div class="mb-3">
          <label for="descricao" class="form-label"
            >Descrição / Assunto **</label
          >
          <textarea
            class="form-control border ps-1"
            id="descricao"
            name="descricao"
            rows="3"
            required
          ></textarea>
        </div>

        <div class="d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-primary"
            id="bnt-salvar-principal"
          >
            Salvar Dados
          </button>
        </div>
      </form>
    </div>

    <!-- Aba 2: Técnicos -->
    <div
      class="tab-pane fade"
      id="tecnicos"
      role="tabpanel"
      aria-labelledby="tecnicos-tab"
    >
      <div class="row">
        <div class="col-md-6">
          <h5>Adicionar Técnicos</h5>
          <form id="tecnicoUserForm">
            <div class="mb-3">
              <label for="tecnicoUser" class="form-label">Técnico *</label>
              <select
                class="form-select"
                id="tecnicoUser"
                name="tecnicoUser"
                required
              >
                <option value="" selected disabled>Selecione um Técnico</option>
                {% for tecnico in tecnicos %}
                <option value="{{ tecnico.id }}">{{ tecnico.username }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <button
                type="button"
                id="addTecnicoBtn"
                class="btn btn-success me-2"
              >
                <i class="material-symbols-rounded">add_circle</i> Adicionar
              </button>
              <button
                type="button"
                id="addTodosBtn"
                class="btn btn-primary me-2"
              >
                <i class="material-symbols-rounded">group_add</i> Adicionar
                Todos
              </button>
              <button
                type="button"
                id="removerTodosBtn"
                class="btn btn-outline-danger"
              >
                <i class="material-symbols-rounded">delete_forever</i> Remover
                Todos
              </button>
            </div>
          </form>
        </div>

        <div class="col-md-6">
          <h5>Técnicos Adicionados</h5>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Nome
                    </th>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Ações
                    </th>
                  </tr>
                </thead>
                <tbody id="tabelaTecnicos">
                  <tr>
                    <td colspan="2" class="text-center">
                      Nenhum técnico adicionado
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Aba 3: Outros -->
    <div
      class="tab-pane fade"
      id="outros"
      role="tabpanel"
      aria-labelledby="outros-tab"
    >
      <form id="formOutros">
        <input type="hidden" id="viagemIdOutros" name="viagemIdOutros" />

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="veiculo" class="form-label">Veículo Utilizado</label>
            <input
              type="text"
              class="form-control border ps-1"
              id="veiculo"
              name="veiculo"
            />
          </div>
          <div class="col-md-6">
            <label for="placa" class="form-label">Placa</label>
            <input
              type="text"
              class="form-control border ps-1"
              id="placa"
              name="placa"
            />
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="kmInicial" class="form-label">KM Inicial</label>
            <input
              type="float"
              class="form-control border ps-1"
              id="kmInicial"
              name="kmInicial"
              min="0"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% block javascripts %}

<script
  type="module"
  src="{{ url_for('static', filename='/assets/js/application/useTravel.js') }}"
></script>
{% endblock javascripts %} {% endblock content %}
