{% extends "layouts/base.html" %} {% block title %} Profile {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %} {% if
travel.id %}
<div class="container">
  <div class="text-center">
    <h1>Editar Viagens</h1>
    <h2>{{ travel }}</h2>
  </div>
</div>
{% else %}
<div class="container">
  <h1>Viagem Não Encontrada</h1>
  <p>Por favor, verifique o ID da viagem.</p>
  <button class="btn btn-primary" onclick="history.back()">Voltar</button>
</div>
{% endif %} {% block javascripts %} {% endblock javascripts %} {% endblock
content %}
