{% extends "layouts/base.html" %} {% block title %}Home{% endblock title %} {%
block content %}

<!-- Main content -->
<div class="alert alert-success alert-dismissible text-white" role="alert">
  <span class="text-sm"
    >Faça download do Aplicativo de Notificações de viagens
    <a
      href="/api/v1/download/file/NotifyTravelInstall.exe"
      download="NotifyTravelInstall.exe"
      class="alert-link text-white"
      >Clique para fazer Download.</a
    ></span
  >
  <button
    type="button"
    class="btn-close text-lg py-3 opacity-10"
    data-bs-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container-fluid py-2">
  <!--Row  card travel-->
  <div class="row">
    <div class="ms-3">
      <h3 class="mb-0 h4 font-weight-bolder">Dashboard</h3>
      <p class="mb-4">Controle de Viagens - {{ current_month }}</p>
    </div>
    <!--Card 1 Total de diárias do mês-->
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-2 ps-3">
          <div class="d-flex justify-content-between">
            <div>
              <p class="text-sm mb-0 text-capitalize">
                Total de Diárias do mês
              </p>
              <h4 class="mb-0" id="value-daily">0</h4>
            </div>
            <div
              class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
            >
              <i class="material-symbols-rounded opacity-10">payments</i>
            </div>
          </div>
        </div>
        <hr class="dark horizontal my-0" />
        <div class="card-footer p-2 ps-3">
          <p class="mb-0 text-sm" id="equivalencia-mes-diaria"></p>
        </div>
      </div>
    </div>
    <!--Card 2 Total de viagens do mês-->
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-2 ps-3">
          <div class="d-flex justify-content-between">
            <div>
              <p class="text-sm mb-0 text-capitalize">
                Total de Viagens do Mês
              </p>
              <h4 class="mb-0" id="valor-total-travel">0</h4>
            </div>
            <div
              class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
            >
              <i class="material-symbols-rounded opacity-10">road</i>
            </div>
          </div>
        </div>
        <hr class="dark horizontal my-0" />
        <div class="card-footer p-2 ps-3">
          <p class="mb-0 text-sm" id="equivalencia-mes-travel"></p>
        </div>
      </div>
    </div>
  </div>

  <!--Row Grafic travels-->
  <div class="row">
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h6 class="mb-0">Valor Diárias Mensais</h6>
          <p class="text-sm">Diárias recebidas dos ultimos 12 meses.</p>
          <div class="pe-2">
            <div class="chart">
              <canvas
                id="chart-line"
                class="chart-canvas"
                height="170"
              ></canvas>
            </div>
          </div>
          <hr class="dark horizontal" />
          <div class="d-flex">
            <i class="material-symbols-rounded text-sm my-auto me-1"
              >schedule</i
            >
            <p class="mb-0 text-sm">
              atualizado em:
              <span class="font-weight-bolder">{{ datenow }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    ,
    <!--Graphic quantidade  de viagens-->
    <div class="col-lg-4 mt-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h6 class="mb-0">Viagens</h6>
          <p class="text-sm">Realizado dos ultimos 12 meses</p>
          <div class="pe-2">
            <div class="chart">
              <canvas
                id="chart-line-travels"
                class="chart-canvas"
                height="170"
              ></canvas>
            </div>
          </div>
          <hr class="dark horizontal" />
          <div class="d-flex">
            <i class="material-symbols-rounded text-sm my-auto me-1"
              >schedule</i
            >
            <p class="mb-0 text-sm">
              atualizado em:
              <span class="font-weight-bolder">{{ datenow }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "includes/footer.html" %}
</div>

{% endblock content %} {% block extra_js %}

<script src="{{ url_for('static', filename='assets/js/plugins/chartjs.min.js') }}"></script>

<script>
  async function getValueGraphic() {
    var ctx2 = document.getElementById("chart-line").getContext("2d");
    var ctx3 = document.getElementById("chart-line-travels").getContext("2d");

    fetch("/dashboard/get/user/graphics")
      .then((res) => res.json())
      .then((result) => {
        // graphic daily value
        new Chart(ctx2, {
          type: "line",
          data: {
            labels: result.graphic_daily.labels,
            datasets: [
              {
                label: "Diarias",
                tension: 0,
                borderWidth: 2,
                pointRadius: 3,
                pointBackgroundColor: "#43A047",
                pointBorderColor: "transparent",
                borderColor: "#43A047",
                backgroundColor: "transparent",
                fill: true,
                data: result.graphic_daily.data,
                maxBarThickness: 6,
              },
            ],
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
              legend: {
                display: false,
              },
              tooltip: {
                callbacks: {
                  title: function (context) {
                    const fullMonths = result.graphic_daily.tooltips;
                    return fullMonths[context[0].dataIndex];
                  },
                },
              },
            },
            interaction: {
              intersect: false,
              mode: "index",
            },
            scales: {
              y: {
                grid: {
                  drawBorder: false,
                  display: true,
                  drawOnChartArea: true,
                  drawTicks: false,
                  borderDash: [4, 4],
                  color: "#e5e5e5",
                },
                ticks: {
                  display: true,
                  color: "#737373",
                  padding: 10,
                  font: {
                    size: 12,
                    lineHeight: 2,
                  },
                },
              },
              x: {
                grid: {
                  drawBorder: false,
                  display: false,
                  drawOnChartArea: false,
                  drawTicks: false,
                  borderDash: [5, 5],
                },
                ticks: {
                  display: true,
                  color: "#737373",
                  padding: 10,
                  font: {
                    size: 12,
                    lineHeight: 2,
                  },
                },
              },
            },
          },
        });

        new Chart(ctx3, {
          type: "line",
          data: {
            labels: result.graphic_travels.labels,
            datasets: [
              {
                label: "Vigens",
                tension: 0,
                borderWidth: 2,
                pointRadius: 3,
                pointBackgroundColor: "#43A047",
                pointBorderColor: "transparent",
                borderColor: "#43A047",
                backgroundColor: "transparent",
                fill: true,
                data: result.graphic_travels.data,
                maxBarThickness: 6,
              },
            ],
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
              legend: {
                display: false,
              },

              tooltip: {
                callbacks: {
                  title: function (context) {
                    const fullMonths = result.graphic_travels.tooltips;
                    return fullMonths[context[0].dataIndex];
                  },
                },
              },
            },
            interaction: {
              intersect: false,
              mode: "index",
            },
            scales: {
              y: {
                grid: {
                  drawBorder: false,
                  display: true,
                  drawOnChartArea: true,
                  drawTicks: false,
                  borderDash: [4, 4],
                  color: "#e5e5e5",
                },
                ticks: {
                  display: true,
                  padding: 10,
                  color: "#737373",
                  font: {
                    size: 12,
                    lineHeight: 2,
                  },
                },
              },
              x: {
                grid: {
                  drawBorder: false,
                  display: false,
                  drawOnChartArea: false,
                  drawTicks: false,
                  borderDash: [5, 5],
                },
                ticks: {
                  display: true,
                  color: "#737373",
                  padding: 10,
                  font: {
                    size: 12,
                    lineHeight: 2,
                  },
                },
              },
            },
          },
        });
      });
  }

  async function getValueCards() {
    var cardDailyCurrentMonth = document.getElementById("value-daily");
    var cardTotalTravel = document.getElementById("valor-total-travel");
    var cardEquivalenceDaily = document.getElementById(
      "equivalencia-mes-diaria"
    );

    var cardEquivalenceTotalTravel = document.getElementById(
      "equivalencia-mes-travel"
    );

    fetch("/dashboard/get/user/cards")
      .then((res) => res.json())
      .then((result) => {
        cardDailyCurrentMonth.innerText = `${result.total_daily_month}`;

        if (Number(result.daily_equivalent_previous_month > 0)) {
          cardEquivalenceDaily.innerHTML = `
            <span class="text-success font-weight-bolder">+${Number(
              result.daily_equivalent_previous_month
            ).toFixed(2)}% </span>
                Comparação Mês Anterior
            `;
        } else if (Number(result.daily_equivalent_previous_month === 0)) {
          cardEquivalenceDaily.innerHTML = `
            <span class="text-dark font-weight-bolder">${Number(
              result.daily_equivalent_previous_month
            ).toFixed(2)}% </span>
                Comparação Mês Anterior
            `;
        } else {
          cardEquivalenceDaily.innerHTML = `
            <span class="text-danger font-weight-bolder">${Number(
              result.daily_equivalent_previous_month
            ).toFixed(2)}% </span>
                Comparação Mês Anterior
            `;
        }

        cardTotalTravel.innerText = `${result.total_travels_current_month}`;

        if (Number(result.daily_equivalent_travel_previous_month > 0)) {
          cardEquivalenceTotalTravel.innerHTML = `
            <span class="text-success font-weight-bolder">+${Number(
              result.daily_equivalent_travel_previous_month
            ).toFixed(2)}% </span>
                Comparação Mês Anterior
            `;
        } else if (
          Number(result.daily_equivalent_travel_previous_month === 0)
        ) {
          cardEquivalenceTotalTravel.innerHTML = `
            <span class="text-dark font-weight-bolder">${Number(
              result.daily_equivalent_travel_previous_month
            ).toFixed(2)}% </span>
                Comparação Mês Anterior
            `;
        } else {
          cardEquivalenceTotalTravel.innerHTML = `
            <span class="text-danger font-weight-bolder">${Number(
              result.daily_equivalent_travel_previous_month
            ).toFixed(2)}% </span>
                Comparação Mês Anterior
            `;
        }
        s;
      });
  }
  getValueCards();
  getValueGraphic();
</script>

{% endblock extra_js %}
